.header {
   background-color: lightgreen;
   height: 10vh;
   font-weight: bold;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 9999;
}

.header nav li {
   display: inline-block;
   margin: 0 2rem;
}
